.a{
    display: flex;
    height: 200px;
    border:2px solid white;
}
.A{
    cursor: pointer;
    color: black;
    background-color: rgb(255, 166, 0);
    text-align: center;
    font-weight: bold;
    font-size:1cm;
    border-style: solid ;
    border-width: 2px;
    border-radius: 2cm;
    width: 450px;
    height: inherit;
    margin-left: 35%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    font-style: italic;
}
.A:hover{
    color:blue;
    background-color: white;
}
.J{
   color:white;
   font-weight: bolder;
   width: 200px;
   font-style: italic;
   font-size:large;
   margin-top: 0;
}
.b{
    height: 200px;
}
.B{
    font-weight: bold;
    background-color:grey ;
    color: white;
    font-size: 0.5cm;
    width: 150px;
    margin-block-start: auto;
}
.t{
    font-weight: bold;
    background-color:red ;
    color: white;
    font-size: 0.5cm;
    width: 43px;
}
.Z:hover{
    color: red;
    background-color: white ;
}
.c{
    text-align: center;
    width: 70%;
    border: 1px solid  white;
    margin: auto;
}
.C{
    background-color: yellow;
    border-width: 2px;
    width: 180px;
    margin-bottom: 0.5px;
    margin-left:40%;
   font-weight: bolder;
   font-size: large;
}
.C:hover{
    background-color: rgb(54, 210, 30);
    color: white;
}
.f{
    margin-bottom: 0.5cm;
}
.items{
display: flex;  
height: 240px;
}
.e{
    height: 10px;
}
.y{
    color: white;
}
.sub{
    margin-left: 70%;
    margin-top: 5%;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
.container{
    height: 100px;
}